.container {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px 0;
  text-align: center;
}

.btn {
  font-family: var(--primary-font);
  display: flex;
  margin: 0 auto;
  border-radius: 50px 50px 0 0;
  background-color: black;
  padding: 10px 25px;
  text-align: center;
  
}

.reactIcons {
  color:#BD200C;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 72px;
}  

.btnTxt {
  margin-top: 24px;
  margin-right: 16px;
}