.header {
  background-image: url('/assets/tape.svg');
  color: var(--brand-color);
  display: flex;
  font-family: var(--primary-font);
  font-size: calc(10px + 2vmin);
  height: 400px;
  margin: 0;
  width: 100%;
}

h1 {
  margin: auto;
}
