.header {
  align-items: center;
  background-image: url('/assets/tape.svg');
  display: flex;
  height: 400px;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.title {
  width: 271px;
}

.title h1 {
  color: var(--brand-color);
  font-family: var(--primary-font);
  font-size: 2.8rem;
  letter-spacing: 0;
}
