:root {
  --primary-font: "Staatliches", cursive;
  --secondary-font: "open-sans", sans-serif;
  --detail-font: "permanent marker", cursive;
  --brand-color: #0A9E74;
  --status-color: #FFFFFF;
  --timer-color: #D3D3D3; 
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
