.btn {
  background-color: black;
  border-radius: 50px 50px 0 0;
  font-family: var(--primary-font);
  padding: 7.5px;
  text-align: center;
  width: 200px;
  display: flex;
}

.icons {
  border: 0;
  color: #bd200c;
  font-size: 3.4rem;
  margin: 0;
  padding: 0;
}

.text {
  margin-right: 5px;
  margin-top: 20px;
}
